body { background-color: #f4f6f9; }
.well {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 20px;
}
.tab-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 1px solid #dee2e6;
  border-top: none;
}
.nav-tabs .nav-link.active {
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  font-weight: bold;
  color: #6a1b9a;
}


h2 {
  font-weight: 700;
  color: #6a1b9a; 
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

h3 {
  color: #6a1b9a;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #f3e5f5;
  padding-bottom: 10px;
}
.irs--shiny .irs-bar {
  border-top: 1px solid #6a1b9a;
  border-bottom: 1px solid #6a1b9a;
  background: #6a1b9a;
}
.irs--shiny .irs-handle {
  border: 1px solid #6a1b9a;
  background: #6a1b9a;
}
pre {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Courier New', monospace;
  color: #333;
}